<h2>塩基配列の長さを取得</h2>

塩基配列の長さを取得するにはlength文を使用します。

<pre>
length 文字列互換型;
</pre>

塩基配列から、文字列の長さを取り出すサンプルです。

<pre>
my $sequence = "ATGCAGCCC";
my $length = length $sequence;
</pre>

<h3>塩基配列の長さを取得するPerlから呼び出すサンプル</h3>

<pre>
# CountSequence.spvm
package CountSequence {
  sub count : int ($sequence : string) {
    return length $sequence;
  }
}
</pre>

<pre>
use strict;
use warnings;
use SPVM "CountSequence";

my $sequence = "ATGCAGCCC";
print CountSequence->count($sequence), "\n";
# Output
# 9
</pre>
