<h2>塩基配列の中のA,G,C,Tのそれぞれの割合を求める。GC含量を求める。</h2>

<h3>tr operator (Perl)</h3>

特定の文字種の数え上げには tr operator が便利です。

<pre>
my $count = $sequence =~ tr/A//;
</pre>

<h3>塩基配列からA,G,C,Tそれぞれの割合を求める。GC含量を求める。(Perl)</h3>

<pre>
use strict;
use warnings;

my $sequence = 'ATGCAGCCCCGGGTACTCC';
my $length = length $sequence;

my $Acount = $sequence =~ tr/A//;
my $Gcount = $sequence =~ tr/G//;
my $Ccount = $sequence =~ tr/C//;
my $Tcount = $sequence =~ tr/T//;

my $Apercent = $Acount / $length * 100;
my $Gpercent = $Gcount / $length * 100;
my $Cpercent = $Ccount / $length * 100;
my $Tpercent = $Tcount / $length * 100;

my $GCcontent = ($Gcount + $Ccount) / $length * 100;

print "Percentage of A: $Apercent%\n";
print "Percentage of G: $Gpercent%\n";
print "Percentage of C: $Cpercent%\n";
print "Percentage of T: $Tpercent%\n";

print "GCcontent: $GCcontent%\n";
__END__
# Output
Percentage of A: 15.7894736842105%
Percentage of G: 26.3157894736842%
Percentage of C: 42.1052631578947%
Percentage of T: 15.7894736842105%
GCcontent: 68.4210526315789%
</pre>

<h3>塩基配列からA,G,C,Tそれぞれの割合を求める。GC含量を求める。(SPVM)</h3>

<pre>
package Sequence {
  sub run : void () {
    my $sequence = "ATGCAGCCCCGGGTACTCC";
    my $length = length $sequence;

    my $Acount = 0;
    my $Gcount = 0;
    my $Ccount = 0;
    my $Tcount = 0;

    for (my $i = 0; $i < $length; ++$i) {
      $Acount += (int)($sequence->[$i] == 'A');
      $Gcount += (int)($sequence->[$i] == 'G');
      $Ccount += (int)($sequence->[$i] == 'C');
      $Tcount += (int)($sequence->[$i] == 'T');
    }

    my $Apercent = 100.0 * $Acount / $length;
    my $Gpercent = 100.0 * $Gcount / $length;
    my $Cpercent = 100.0 * $Ccount / $length;
    my $Tpercent = 100.0 * $Tcount / $length;

    my $GCcontent = 100.0 * ($Gcount + $Ccount) / $length;

    print "Percentage of A: $Apercent%\n";
    print "Percentage of G: $Gpercent%\n";
    print "Percentage of C: $Cpercent%\n";
    print "Percentage of T: $Tpercent%\n";

    print "GCcontent: $GCcontent%\n";
  }
}
</pre>

<h3>塩基配列からA,G,C,Tそれぞれの割合を求める。GC含量を求める。(PerlからSPVM)</h3>

<pre>
# Sequence.spvm
package Sequence {
  sub percentages : double[] ($sequence : string) {
    my $length = length $sequence;

    my $Acount = 0;
    my $Gcount = 0;
    my $Ccount = 0;
    my $Tcount = 0;

    for (my $i = 0; $i < $length; ++$i) {
      $Acount += (int)($sequence->[$i] == 'A');
      $Gcount += (int)($sequence->[$i] == 'G');
      $Ccount += (int)($sequence->[$i] == 'C');
      $Tcount += (int)($sequence->[$i] == 'T');
    }

    my $Apercent = 100.0 * $Acount / $length;
    my $Gpercent = 100.0 * $Gcount / $length;
    my $Cpercent = 100.0 * $Ccount / $length;
    my $Tpercent = 100.0 * $Tcount / $length;

    my $GCcontent = 100.0 * ($Gcount + $Ccount) / $length;

    return [$Apercent, $Gpercent, $Cpercent, $Tpercent, $GCcontent];
  }
}
</pre>

<pre>
use strict;
use warnings;
use SPVM 'Sequence';

my $sequence = 'ATGCAGCCCCGGGTACTCC';

my $spvm_array = Sequence->percentages($sequence);
my $percentages_ref = $spvm_array->to_elems;

my $Apercent = $percentages_ref->[0];
my $Gpercent = $percentages_ref->[1];
my $Cpercent = $percentages_ref->[2];
my $Tpercent = $percentages_ref->[3];

my $GCcontent = $percentages_ref->[4];

print "Percentage of A: $Apercent%\n";
print "Percentage of G: $Gpercent%\n";
print "Percentage of C: $Cpercent%\n";
print "Percentage of T: $Tpercent%\n";

print "GCcontent: $GCcontent%\n";
</pre>
